div.footer
	div.content.auto
		div.footerup
			div.up_left.fl
				div.up_leftupimg
					img(src="/images/balogo.png", alt="")
				p 我们是一个很好的团队我们是一个很好的团队我们是一个很好的团队我们是一个很好的团队我们是一个很好的团队我们是一个很好。
				div.code
					span.fl 点我们呦
					em.wechat.fl
					em.blog.fl
			div.up_center.fl
				ul.fl
					span 帮助
					li
						a(href="/") 你好你好
					li
						a(href="/") 你好你好	
					li
						a(href="/") 你好你好
				ul.fl
					span 现有课程
					li
						a(href="/") wowowo
					li
						a(href="/") wowowo
					li
						a(href="/") More&gt;&gt;
				ul.fl
					span 反馈方式
					li
						a(href="/") 电子邮箱：lala@womewomewo.com
					li
						a(href="/") 微信反馈：点我们（wowowowowowom）	
					li
						a(href="/") 微博反馈：我们我们
			div.up_right.fl
				p 
					span womeApp
				<br>
				<br>
				p 
					span 官方网站
				<br>
				<br>
				p 
					span 机构入驻
		div.footerdown
			span 我们我们©2015-2016
			a(href="/") 京ICP京11111111号
script(src='/javascripts/jquery.js')
script(src='/javascripts/index.js')