extends layout

block content
		link(rel="stylesheet", href="/stylesheets/home.css")
		div.main
			div.inner.auto
				ul
					li.fl.innerli
						a(href="/list1")
							span.block.ios
							p iOS
					li.fl.innerli
						a(href="/list2")
							span.block.html
							p HTML5
					li.fl.innerli
						a(href="/list3")
							span.block.unity
							p Unity-3D
					li.fl.innerli
						a(href="/list0")
							span.block.more
								em.fl
								em.fl
								em.fl
							p  More
			div.cooperation.auto
				div.cooup
					p.fl.uptitle 合作机构
					div.upbox.fl
						ul
							li.fl
								img(src="/images/lanou.png", alt="")
							li.fl
								img(src="/images/mage.png", alt="")
							li.fl
								img(src="/images/xianxing.png", alt="")
							li.fl
								img(src="/images/lanke.png", alt="")
							li.fl
								img(src="/images/dingcai.png", alt="")
							li.fl
								img(src="/images/guoshi.png", alt="")
							li.fl
								img(src="/images/meisen.png", alt="")
					span.next.fr.block
				div.cooup
					p.fl.uptitle 合作企业
					div.upbox.fl
						ul
							li.fl
								img(src="/images/ali.png", alt="")
							li.fl
								img(src="/images/china.png", alt="")
							li.fl
								img(src="/images/baidu.png", alt="")
							li.fl
								img(src="/images/renrendai.png", alt="")
							li.fl
								img(src="/images/feixin.png", alt="")
							li.fl
								img(src="/images/sun.png", alt="")
							li.fl
								img(src="/images/ali.png", alt="")
							li.fl
								img(src="/images/china.png", alt="")
							li.fl
								img(src="/images/baidu.png", alt="")
							li.fl
								img(src="/images/renrendai.png", alt="")
							li.fl
								img(src="/images/feixin.png", alt="")
							li.fl
								img(src="/images/sun.png", alt="")
					span.next.fr.block
		script(src='/javascripts/jquery.js')
		script(src='/javascripts/home.js')

